<!--
   django_valida_cpf.html
-->

<!DOCTYPE html>
<html>

<head>
    {% block cabecalho %}
    <title>Valida CPF</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/valida.css">
    <link rel="stylesheet" type="text/css" href="../static/semantic/packaged/css/semantic.css"> 
    <script src="../static/js/jquery-2.1.1.js"></script>
    <script src="../static/js/js.js"></script>
    {% endblock %}
</head>

<body>
{% block corpo %}

{% endblock %}

</body>