{% extends 'base.html' %}

{% block corpo %}
  <article class ="article">
   <div class="ui center aligned three column grid">
        
      <div class="column">

        <form id="form" class="ui fluid form segment red" method="POST" action=".">
          {% csrf_token %}
          <div class="field">            
            <h3 id='texto'>Valida CPF</h3>

            <div class="input">
              <input type="text" name="cpf" placeholder="Insira um CPF: " {% if cpf %}value="{{ cpf }}" {% endif %} /> 
            </div>

            <div class="ui pointing label red">
              Validação:
               <div id="resposta">
                {% if resposta %}
                  {{ resposta }}
                {% endif %}
              </div>
            </div>

            <div class="buttons">
              <input type="submit" class="ui submit button green" value="Validar"/>
              <input type="reset" class="ui submit button green" value="Limpar" id="limpar"/>

              <a href="/"><div class="ui submit button green">Voltar</div></a>

            </div>



          </div>
        </div>
      </form>    

    </div>              
  </article>
{% endblock%}